<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>系统设置</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="__STATIC__/layuiadmin/style/admin.css" media="all">
  <script type="text/javascript" src="__ADMINJS__/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
  <style>
  .layui-form-item .layui-input-inline{ width:400px;}
  </style>
  <script>
  var GetUploadify_url = "{:url('Uploadify/upload')}";
  </script>
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">添加附件</div>
                <div class="layui-card-body" pad15="">
                    <div class="layui-form" wid100 lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">附件名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" lay-verify="required" value="" placeholder="请输入附件名" autocomplete="off" class="layui-input" >
                            </div>
                        </div>

                      
                        
                                        
                         <div class="layui-form-item">
                            <label class="layui-form-label">附件</label>
                           
                            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                                                   
                       <style>
					   		
                       		#ossfile>div{font-size: 12px;}
                       </style>
                        <div class="tab-pane active" id="video-chooser-upload-pane">
                            <div class="file-chooser-uploader">
                              <div id="batch-uploader" class="balloon-uploader"
                                   data-target-id="0"
                                   data-target-type=""
                                   data-upload-type="file"
                                   data-uploader-auth-url="{$config.ipaddress}/app_dev.php/cloud/uploader/auth"
                                   data-note="这里是我们自己定义的，前端根据需求自行调整，样式也自行调整，只有ballon-uploader-body内部分起作用"
                              >
                                <div class="balloon-uploader-body">
                        
                        
                                  <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
                                  <div id="container">
                                  
                                    <div type="button" class="layui-btn layui-btn-primary" id="selectfiles">选择附件</div>
                                   <div type="button" class="layui-btn layui-btn-primary" id="postfiles"> <i class="layui-icon"></i>上传附件</div>
                                    
                                  </div>
                                
                        
                        
                        
                                </div>
                              </div>
                        
                            </div>
                        
                          </div>
                        
                        <script type="text/javascript" src="__STATIC__/layuiadmin/oss/plupload/2.1.2/js/plupload.full.min.js"></script>
                        
                        <script src="https://www.jq22.com/jquery/jquery-1.9.1.js"></script>
                             <script src="__STATIC__/layuiadmin/layui/layui.js"></script>
                        <script> 
                            
                            var url= "{$config.ipaddress}/upload/auth?token={$osstoken}";
                        
                         </script>
                         <script type="text/javascript" src="__STATIC__/layuiadmin/oss/uploadannex.js"></script>
 
 
 
        		 <input type="hidden" lay-verify="required" class="uplodes" name="response" id="response" value="" />
                        
                        
        
                            
                              
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        
                      
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="hidden" value="{$catid}" name="catid">
                                <button type="button" class="layui-btn" lay-submit lay-filter="add-but">确认保存</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
	 <script src="__STATIC__/layuiadmin/layui/layui.js"></script> 
     <script src="__STATIC__/admin/js/layui-mz-min.js"></script>  
     <script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
    </script>
	<script type="text/html" id="action">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
	<script>
	    var url= "/admin/project/project_annex_json/catid/{$catid}.html";
		var editUrl = "/admin/project/project_annex_edit.html";
        var addUrl = "/admin/project/project_annex_add/catid/{$catid}.html";
        var delUrl = "/admin/project/project_annex_del.html";
		layui.config({
			base: '__STATIC__/layuiadmin/',version: true    }).extend({
			index: 'lib/index' //主入口模块
		}).use(['index','project_annex']);
	</script>
    
 


</body>
</html>