<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>首页</title>
        <meta name="keywords" content="{$config.seo_keyword}" />
		<meta name="description" content="{$config.seo_dec}" />
		<link rel="stylesheet" type="text/css" href="__HOMECSS__/list.css"/>
		<link rel="stylesheet" type="text/css" href="__HOMECSS__/common.css"/>
        <link rel="stylesheet" type="text/css" href="__HOMECSS__/swiper.min.css"/>
	</head>
	<body style="background:rgba(241,239,242,1);">
        
        {include file="public/header" /}
        <div class="nav">
			<ul>
				<li class="on">
					<a href="{:url('index/index')}">
						首页
					</a>
				</li>
				<li>
					<a href="{:url('news/news')}">
						新闻动态
					</a>
				</li>
				<li>
					<a href="{:url('meeting/meeting')}">
						会议信息
					</a>
				</li>
				<li>
					<a href="{:url('project/project')}">
						物理与工程
					</a>
				</li>
			</ul>
		</div>
        
		<div class="index">
			<div class="index_left">
				<div class="pic">
                
                	
                	  <div class="swiper-container">
                        <div class="swiper-wrapper">
                        
                        {foreach name='banner' item='vo' key='k'}
                          <div class="swiper-slide">
                          
                          <a href="javascript:void(0);"  onClick="sun('{$vo.link}',{$vo.banner_id})" >
                          
                          <img src="{$vo.thumb}"/></a></div>
                        {/foreach} 
                        
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                      </div>
                
                
				</div>
				<div class="index_news">
					<div class="titlebox">
						<h3>新闻动态</h3>
						<a href="{:url('news/news')}">更多 </a>
						<div class="clear"></div>
					</div>
					<ul>
                    
                        {foreach name='list' item='vo' key='k'}
						<li>
							<a href="/home/news/news_detail.html?id={$vo.news_id}">
								{if $vo.thumb != ''}
                                    <div class="picer">
                                        <img src="{$vo.thumb}"/>
                                    </div>
                                 {/if}
                                 
								<div  {if $vo.thumb != ''}class="infos"{/if}>
									<h4>{$vo.name}</h4>
									<p>{$vo.content|raw|subtext=90}</p>
									<div class="sign">
                                    	
                                        
                                        
                                       {foreach name="$vo.group_arr" item='vovo' key='kk'}
                                       {if $vovo!=""}
										<div class="inverted" style="margin-right: 10px;">
											{$vovo}
										</div>
                                        {/if}
                                       {/foreach} 
                                        
                                       
										<div class="numbox">
											
											<div class="time">
												{$vo.add_time}
											</div>
											<div class="time">
												浏览：{$vo.click}
											</div>
											<div class="clear"></div>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</a>
						</li>
						
                       {/foreach}
                        
					</ul>
				</div>
				<div class="index_information">
					<div class="titlebox">
						<h3>会议信息</h3>
						<a href="{:url('meeting/meeting')}">更多 </a>
						<div class="clear"></div>
					</div>
                    
                    
                    {foreach name='list2' item='vo' key='k'}
					<div class="meeting" style="padding-bottom: 20px; border-bottom: 1px solid rgba(228,228,228,1);">
						<a href="/home/meeting/meeting_detail.html?id={$vo.meeting_id}'">
                        {if $vo.thumb != ''}
                        	<div class="picer">
									<img src="{$vo.thumb}"/>
								</div>
                        {/if}
                        	<div {if $vo.thumb != ''} class="infos" {/if}>
							<h3>{$vo.name}</h3>
							<div class="describe">
								<span class="item">
									{$vo.address}
								</span>
								<span class="item">
									会议时间：{$vo.start_time}{$vo.end_time}
								</span>
								<div class="clear"></div>
							</div>
							<p>{$vo.content|raw|subtext=90}
							</p>
							
							<div class="sign">
                            
                               {foreach name="$vo.group_arr2" item='vovo' key='kk'}
                               {if $vovo!=""}
                                <div class="inverted" style="margin-right: 10px;">
                                    {$vovo}
                                </div>
                                {/if}
                               {/foreach} 
                             
								<div class="numbox">
									<div class="time">
										{$vo.add_time}
									</div>
									<div class="time">
										浏览：{$vo.click}
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
                            </div>
								<div class="clear"></div>
						</a>
					</div>
                    {/foreach}
                    
                    
					
				</div>
			</div>
			
            {include file="public/right" /}
            
           
		</div>
		
        	{include file="public/footer" /}
            
		<script type="text/javascript" src="__HOMEJS__/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="__HOMEJS__/rili.js" ></script>
        <script src="__STATIC__/layuiadmin/layer/layer.js"></script>
        <script type="text/javascript" src="__HOMEJS__/swiper.min.js" ></script>
          <script>
			var swiper = new Swiper('.swiper-container', {
			  spaceBetween: 30,
			  centeredSlides: true,
			  autoplay: {
				delay: 2500,
				disableOnInteraction: false,
			  },
			  pagination: {
				el: '.swiper-pagination',
				clickable: true,
			  },
			  navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			  },
			});
		  </script>
          
          
          		<script>
        	function sun(url,banner_id){
				$.ajax({
							url: "{:url('index/ajax_num')}",
							type:"post",
							data:{banner_id:banner_id},
							dataType:"json",
							success: function(data){
								console.log(data);
								if(data.status==1){
									window.open(url);
								}
						   }
				 });

			}
        </script>
        
        
        
	</body>
</html>
